container_commands:
  05_appdirs:
    command: "/tmp/gitea-dirs.sh"

files:
  "/tmp/gitea-dirs.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment -k EFS_MOUNT_DIR)

        # IF EFS is mounted create directories
        mountpoint -q ${EFS_MOUNT_DIR}
        if [ $? -ne 0 ]; then
            echo "ERROR: Directory ${EFS_MOUNT_DIR} is not a valid mountpoint!"
            exit 1
        else
            echo "Directory ${EFS_MOUNT_DIR} is already a valid mountpoint!"

        # Application required directory structure
            [ ! -d '${EFS_MOUNT_DIR}/gitea/custom' ] && mkdir -p ${EFS_MOUNT_DIR}/gitea/custom && chmod -R 750 ${EFS_MOUNT_DIR}/gitea/custom && chown -R webapp:webapp ${EFS_MOUNT_DIR}/gitea/custom
            [ ! -d '${EFS_MOUNT_DIR}/gitea/data' ] && mkdir -p ${EFS_MOUNT_DIR}/gitea/data && chmod -R 750 ${EFS_MOUNT_DIR}/gitea/data && chown -R webapp:webapp ${EFS_MOUNT_DIR}/gitea/data
            [ ! -d '/var/log/gitea' ] && mkdir -p /var/log/gitea && chown -R webapp:webapp /var/log/gitea
        fi

