container_commands:
  15_genconf:
    command: "/tmp/gitea-gen-conf.sh"

files:
  "/tmp/gitea-gen-conf.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        GITEA_APP_INI="/etc/gitea/app.ini"
        GITEA_APP_INI_DIR=$(dirname ${GITEA_APP_INI})
        INSTALL_LOCK=true

        # Get env vars from terraform
        ROOT_URL=$(/opt/elasticbeanstalk/bin/get-config environment -k ROOT_URL)
        DB_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_HOST)
        DB_USER=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USER)
        DB_PASSWD=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_PASSWORD)
        DB_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_DB_NAME)
        SECRET_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k SECRET_KEY)
        LFS_JWT_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k LFS_JWT_SECRET)
        INTERNAL_TOKEN=$(/opt/elasticbeanstalk/bin/get-config environment -k INTERNAL_TOKEN)

        # Generate Gitea app.ini from template if not exist

        #Prepare config file
        if [ ! -f ${GITEA_APP_INI} ]; then

           #Prepare config file folder
           mkdir -p ${GITEA_APP_INI_DIR} && chmod 0700 ${GITEA_APP_INI_DIR} && chown -R webapp:webapp /etc/gitea
           if [ ! -w ${GITEA_APP_INI_DIR} ]; then echo "${GITEA_APP_INI_DIR} is not writable"; exit 1; fi

           # Set INSTALL_LOCK to true only if SECRET_KEY is not empty and
           # INSTALL_LOCK is empty
           if [ -n "$SECRET_KEY" ] && [ -z "$INSTALL_LOCK" ]; then
              INSTALL_LOCK=true
           fi

           # Substitute the environment variables in the template
           APP_NAME=${APP_NAME:-"Gitea: Git with a cup of tea"} \
           RUN_MODE=${RUN_MODE:-"prod"} \
           RUN_USER=${USER:-"webapp"} \
           SSH_DOMAIN=${SSH_DOMAIN:-"localhost"} \
           HTTP_PORT=${HTTP_PORT:-"5000"} \
           ROOT_URL=${ROOT_URL:-""} \
           DISABLE_SSH=${DISABLE_SSH:-"true"} \
           SSH_PORT=${SSH_PORT:-"2222"} \
           DB_TYPE=${DB_TYPE:-"mysql"} \
           DB_HOST=${DB_HOST:-"localhost:3306"} \
           DB_NAME=${DB_NAME:-"gitea"} \
           DB_USER=${DB_USER:-"root"} \
           DB_PASSWD=${DB_PASSWD:-""} \
           INSTALL_LOCK=${INSTALL_LOCK:-"false"} \
           DISABLE_REGISTRATION=${DISABLE_REGISTRATION:-"false"} \
           REQUIRE_SIGNIN_VIEW=${REQUIRE_SIGNIN_VIEW:-"false"} \
           SECRET_KEY=${SECRET_KEY:-""} \
           LFS_JWT_SECRET=${LFS_JWT_SECRET:-""} \
           INTERNAL_TOKEN=${INTERNAL_TOKEN:-""} \
           envsubst < /etc/gitea/app.ini.tpl > ${GITEA_APP_INI}
        fi

        chmod -R 750 ${GITEA_APP_INI_DIR} && chown -R webapp:webapp ${GITEA_APP_INI_DIR}
